VITE_FIREBASE_API_KEY=AIzaSyCtQDol8t0h_qSw8Z4zj0a6-xG_KtbXpZc
VITE_FIREBASE_AUTH_DOMAIN=butik-sira-takip.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=butik-sira-takip
VITE_FIREBASE_STORAGE_BUCKET=butik-sira-takip.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=572580850851
VITE_FIREBASE_APP_ID=1:572580850851:web:4a95552183c4f8adff2316